body {
    margin: 0px;
    padding: 0px;
    background-color: #FFF;
    color: #000;
    overflow-x: hidden;
}

#app {
    display: grid;
    grid-template-areas:
        "app_body";
    grid-template-rows: auto;
    /*! max-height: 100%; */
}

.clear {
    clear: both;
}

.app_header {
    grid-area: app_header;
    margin: 0px;
    display: grid;
    grid-template-areas:
        "title nav_left_top nav_center_top nav_right_top";
    grid-template-columns: 225px auto auto;
    padding: 4px 0px 4px;
    background-color: #2d2d2d;
}

.nav_left_top {
    grid-area: nav_left_top;
    display: flex;
    justify-content: left;
    align-items: center;
}

.nav_center_top {
    grid-area: nav_center_top;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_right_top {
    grid-area: nav_right_top;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.app_hdr {
    grid-area: title;
    margin: 0px 0px 0px 0px;
    font-family: 'Gruppo', cursive;
    font-size: 20px;
    text-align: start;
    padding: 0px 0px 0px 0px;
}

.shadow {
    text-shadow: #fff -1px 0px 11px;
}

.app_subhdr {
    grid-area: subhdr;
    margin: 0px 5px;
    font-family: 'Gruppo', cursive;
    font-size: 18px;
    text-align: end;
}

.app_slogan {
    grid-area: slogan;
    margin: 0;
    font-size: 18px;
    font-family: 'Gruppo', cursive;
    text-align: center;
}

.app_body {
    display: grid;
    grid-area: app_body;
    grid-template-rows: auto;
    grid-template-areas: "nav_l shelf";
    grid-template-columns: 160px auto;
    background-color: white;
}

.nav_l {
    display: grid;
    grid-area: nav_l;
    font-family: 'Gruppo', cursive;
    font-size: 15px;
    /*! max-height: 500px; */
    overflow-y: auto;
    /*! padding: 0px 10px; */
    margin: 0px;
}

.popover{
    display: none;
    z-index: 100;
    background-color: #cecece;
    /*min-width: 200px;*/
    min-height: 30px;
    position: fixed;
    text-align: center;
    font-weight: bold;
    align-items: center;
    justify-content:center;
    justify-items: center;
    padding: 0px 10px;
}
.nav_l_hdr {
    /*! text-align: center; */
    padding: 0px 5px;
    background-color: #9e9e9e;
    border-bottom: 2px solid #dadada;
    color: black;
    font-weight: bold;
}

.nav_l_0 {
    background-color: #dadada;
    /*! padding: 5px; */
    /*! text-align: center; */
    border-bottom: 1px solid #dadada;
    padding: 0px 0px 0px 10px;
}

.nav_l_1 {
    /*! padding: 5px; */
    /*! text-align: center; */
    border-bottom: 1px solid #dadada;
    padding: 0px 0px 0px 10px;
}
.nav_link {}
#vert-nav {
    list-style: None;
    padding: 0px;
    margin: 0px;
    /*! border-left: 5px solid #292f35; */
    /*! border-right: 5px solid #292f35; */
}

.vert-nav-item {}

.app_footer {
    grid-area: app_footer;
    display: grid;
    grid-template-areas: "python_badge gplv3_badge contact";
    grid-template-columns: 1fr 1fr 8fr;
    justify-content: space-between;
    min-width: 100%;
    background-color: #2b2b2b;
    margin: 0px;
    font-family: Audiowide, cursive;
    font-size: 15px;
}

.web_footer_link {
    text-decoration: none;
    color: #a5a3a3;
}

.copyright {
    grid-area: gplv3_badge;
    display: grid;
    align-content: center;
    font-family: Audiowide, cursive;
    font-size: 9px;
    justify-self: left;
}

.footer_contact {
    grid-area: contact;
    display: inline-grid;
    align-content: center;
    justify-items: right;
    font-size: 12px;

}

.nav_top {
    grid-area: nav_top;
    display: grid;
    grid-template-areas: "left center right";
    grid-template-columns: auto auto auto;
}

.navbar {
    list-style-type: none;
}

.left_align {
    display: flex;
    justify-content: left;
}

.center_align {
    display: flex;
    justify-content: center;
}

.right_align {
    display: flex;
    justify-content: right;
}

.top {}

.inline {}

.inline_txt {}

.button {}

.discord-button {
    max-width: 78px;
    max-height: 26px;
}

.nav_button {
    background-color: darkgray;
    border-radius: 5px;
    border: 1px solid #999;
    /*! min-width: 110px; */
    margin: 0px 5px 0px 0px;
    /*! padding-top: 2px; */
    /*! padding-bottom: 2px; */
    /*! max-height: 20px; */
}

.nav_search {
    margin: 0px 5px 0px 0px;
    border-radius: 5px;
    border: 1px solid #999;
    max-height: 17px;
}

.search {}

.search_details {
    display: flex;
    justify-content: center;
    margin: 0px 0px 5px 0px;
}

.shelf {
    grid-area: shelf;
    margin: 0px 0px;
    padding: 10px 0px 10px;
    list-style-type: none;
    overflow-y: scroll;
    overflow-x: hidden;
}

.shelf_contents {}

.right_col {
    grid-area: right_col
}

.python_logo {
    grid-area: python_badge;
    display: grid;
    align-content: center;

}

p {
    margin: 0px;
}

#python_logo {
    height: 37px;
    width: 91px;
}

#book_shelf {
    list-style-type: none;
    font-family: 'Audiowide', cursive;
    font-size: 15px;
    padding: 0;
    margin: 0px;
    min-width: 99vw;
}

.shelf_item {
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-areas: "thumb details";
    margin: 0 10px 10px 10px;
}

.book_thumb {
    grid-area: thumb;
    width: 100px;
}

a.book_link {
    text-decoration: none;
}
.book_details {}
.book_details_list {grid-area: details;list-style-type: none;}
.book_title {}
.book_author {}
.book_controls {}
a.nav_link {
    text-decoration: none;
    color: #000;
}
.hidden{
    display: none;
}
.vert-nav{
    list-style: None;
    padding: 0px;
    margin: 0px 0px;
}
.btn {cursor:pointer}
