@media only screen and (max-width: 600px) {
    .vert-nav{
        list-style: None;
        padding: 0px;
        margin: 0px 0px;
    }
    
    .vert-nav-item {}

    #vert-nav {
        display: initial;
        list-style: None;
        padding: 0px 0px 0px 0px;
        margin: 0px;
        /*! border-left: 5px solid #292f35; */
        /*! border-right: 5px solid #292f35; */
        /* border-right: 1px solid; */
        background: linear-gradient(to right, #333 51%, #7d7a7aed 181%);
    }
}
