docs/* linguist-documentation
src/interface/static/debug_toolbar linguist-vendored
src/interface/static/webfonts linguist-vendored
src/interface/static/js/bootstrap* linguist-vendored
src/interface/static/js/jquery* linguist-vendored
src/interface/static/admin/* linguist-vendored
docker/* linguist-vendored
