[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
websockets = "*"
loguru = "*"
pypdf2 = "*"
bs4 = "*"
requests = "*"
psycopg2-binary = "*"
mobi-python = "*"
psycopg = "*"
lxml = "*"
"sqlalchemy.orm" = "*"
sqlalchemy = "==2.0.0b3"
fastapi = {extras = ["all"], version = "*"}
jinja2 = "*"
libsass = "*"
nodejs-bin = "*"
npm = "*"
brotlipy = "*"

[dev-packages]
debugpy = "*"
pudb = "*"
ptipython = "*"
chardet = "*"
pre-commit = "*"

[requires]
python_version = "3.11.2"
