[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
bs4 = "*"
certifi = "*"
lxml = "*"
requests = "*"
soupsieve = "*"
urllib3 = "*"
urwid = "*"
w3lib = "*"
websockets = "*"
pre-commit = "*"
isort = "*"
toml = "*"
django-debug-toolbar = "*"
psycopg2-binary = "*"
prompt-toolkit = "*"
psutil = "*"
pyfiglet = "*"
mobi-python = "*"
jsonpickle = "*"
django-widget-tweaks = "*"
loguru = "*"
ptvsd = "*"
pudb = "*"
daphne = "*"
whitenoise = "*"
Pillow = "*"
Django = "*"
uWSGI = "*"

[requires]
python_version = "3.8"
