appdirs==1.4.3
beautifulsoup4==4.8.0
bs4==0.0.1
certifi==2019.9.11
chardet==3.0.4
cssselect==1.1.0
fake-useragent==0.1.11
idna==2.8
lxml==4.4.1
parse==1.12.1
Pillow==6.2.0
pyee==6.0.0
Pygments==2.4.2
pyppeteer==0.0.25
pyquery==1.4.0
requests==2.22.0
six==1.12.0
soupsieve==1.9.4
tqdm==4.36.1
urllib3==1.25.6
urwid==2.0.1
w3lib==1.21.0
websockets==8.0.2