{% load filters %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link type="text/css" rel="stylesheet" href="/static/css/main.css" />
<title>pyShelf E-Book Server</title>
<link href="https://fonts.googleapis.com/css?family=Audiowide&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Gruppo&display=swap" rel="stylesheet">
</head>
<body>
    <div id="app">
        <div class="app_header" >
                <div class="app_hdr">
                        <h1 class="app_hdr shadow">pyShelf</h1>
                </div>
                <div class="app_slogan">
                        <h2 class="app_slogan shadow">""An elegant tool... for a more civilized age."</h3>
                </div>
                <div class="app_subhdr">
                        <img src="/static/img/open-source-175x29.png" class="hdr_badge" /><br />
                        <img src="/static/img/gpl-125x28.png" class="hdr_badge" />
                </div>

            </h2>
        </div>
        <div class="app_body" >
            <div class="nav_top">
                <div class="navbar top">
                        <div style="grid-area:left">
                        <input class="nav_button" type="submit" value="<< Prev Page">
                        </div>
                        <div style="grid-area:center">
                        <input class="nav_search" type="text" size="15">
                        <input class="nav_button" type="submit" value="Search">
                        </div>
                        <div style="grid-area:right">
                        <input class="nav_button" type="submit" value="Next Page >>">
                        </div>
                </div>
            </div>
            <div class="shelf">
                <div class="shelf_contents" >
                    <ul id="book_shelf">
                    {% for book in Books %}
                    <a href="{% url 'download' pk=book.pk %}" class="book_link"><li class="shelf_item"><img alt="{{ book.title }}" src="data:image;base64,{{ book.cover | bin_2_img }}" class="book_thumb"/> </li></a>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="app_footer" >
            <div class="python_logo" >
                <img src="/static/img/py.png" id="python_logo" />
            </div>
        </div>
    </div>
</body>
</html>
