{% load filters %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link type="text/css" rel="stylesheet" href="/static/css/main.css" />
<title>pyShelf E-Book Server</title>
<link href="https://fonts.googleapis.com/css?family=Audiowide&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Gruppo&display=swap" rel="stylesheet">
<script src="/static/js/jquery-3.4.1.min.js" type="text/javascript"></script>
<script src="/static/js/pyshelf_ux.js" type="text/javascript"></script>
</head>
<body>
    <div id="app">
        <div class="app_header" >
        <div class="app_hdr">
                <h1 class="app_hdr shadow">pyShelf</h1>
        </div>
        <div class="app_slogan">
                <h3 class="app_slogan shadow">""An elegant tool... for a more civilized age."</h3>
        </div>
        <div class="app_subhdr">
                <!--
                <img src="/static/img/open-source-175x29.png" class="hdr_badge" /><br />
                <img src="/static/img/gpl-125x28.png" class="hdr_badge" />
                -->
                <a href="https://github.com/th3r00t/pyShelf" class="nav_link" alt="Git Hub Link">GitHub.com/th3r00t/pyShelf</a>
        </div>
            <input type="hidden" id="_set" name="_set" value="{{ Set }}" />
            <div class="nav_left_top">
                <input class="nav_button prev_page" type="button" value="<< Prev Page" onclick="window.location.href = '/prev_page/{{ Set }}'">
            </div>
            <div class="nav_center_top">
                <input class="nav_search" type="text" size="25"><input class="nav_button" type="submit" value="Search">
            </div>
            <div class="nav_right_top">
                    <input class="nav_button next_page" type="button" value="Next Page >>" onclick="window.location.href = '/next_page/{{ Set }}'">
            </div>
        </div>
        <div class="app_body" >
            <div class="shelf">
                <div class="shelf_contents" >
                    <ul id="book_shelf">
                    {% for book in Books %}
                    <a href="{% url 'download' pk=book.pk %}" class="book_link"><li class="shelf_item"><img alt="{{ book.title }}" src="data:image;base64,{{ book.cover | bin_2_img }}" class="book_thumb"/> </li></a>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="app_footer" >
            <div class="python_logo" >
                <img src="/static/img/py.png" id="python_logo" />
            </div>
        </div>
    </div>
</body>
</html>
