{% load filters %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link type="text/css" rel="stylesheet" href="/static/css/main.css" />
<title>pyShelf E-Book Server Search Results</title>
<link href="https://fonts.googleapis.com/css?family=Audiowide&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Gruppo&display=swap" rel="stylesheet">
<script src="/static/js/jquery-3.4.1.min.js" type="text/javascript"></script>
<script src="/static/js/pyshelf_ux.js" type="text/javascript"></script>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
</head>
<body>
    <div id="app">
        <input type="hidden" id="_set" name="_set" value="{{ Set }}" />
        <div class="app_body" >
            <div class="nav_l">
                <p class="popover"></p>
                <ul id="vert-nav">
                    <li class="vert-nav-item nav_l_hdr">
                        <h1 class="app_hdr shadow">pyShelf {{Version}}</h1>
                    </li>
                    <li class="vert-nav-item nav_l_hdr">
                        <input class="nav_search" type="text" size="20" value="">
                    </li>
                    <li class="vert-nav-item nav_l_hdr">
                        <input class="nav_button prev_page" type="button" value="<<" onclick="window.location.href = '/prev_page/{{ Set }}'">
                        <input class="nav_button search_submit" type="submit" value="Search">
                        <input class="nav_button next_page" type="button" value=">>" onclick="window.location.href = '/next_page/{{ Set }}'">
                    </li>
                    <li class="vert-nav-item nav_l_hdr" id="btn_collections">Collections</li>
                    <ul class="hidden vert-nav collections">
                    {% for row in LeftNavCollections %}
                        <a href="{% url 'show_collection' _collection=row.link _colset=Set%}" class="nav_link" alt="{{row.link}}">
                            <li class="nav_l_{{row.class}}">
                                {{ row.string }}
                            </li>
                        </a>
                    {% endfor %}
                    </ul>
                    <li class="vert-nav-item nav_l_hdr" id="btn_irc">irc</li>
                    <a href="irc://freenode.net/pyshelf" class="web_footer_link"><li class="vert-nav-item nav_l_hdr" id="btn_discord">discord</li></a>
                    <li class="vert-nav-item nav_l_hdr" id="btn_github">github</li>
                    <li class="vert-nav-item nav_l_hdr" id="btn_irc">irc</li>
                    <li class="vert-nav-item nav_l_hdr" id="btn_python">
                        <img src="/static/img/py.png" id="python_logo" />
                    </li>
                    <a href="https://www.gnu.org/licenses/gpl-3.0.txt" class="web_footer_link">
                    <li class="vert-nav-item nav_l_hdr" id="btn_gpl">
                        <img src="/static/img/gplv3-or-later.png" alt="GPLv3 or later" />
                    </li>
                    </a>
                </ul>
            </div>
                <div class="shelf">
                        <div class="search_details">
                                Your search for {{ Query }} returned {{ len_results }} results
                        </div>
                <div class="shelf_contents" >
                    <ul id="book_shelf">
                    {% for book in Books %}
                    <a href="{% url 'download' pk=book.pk %}" class="book_link"><li class="shelf_item"><img alt="{{ book.title }}" src="data:image;base64,{{ book.cover | bin_2_img }}" class="book_thumb"/> </li></a>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
