<ul id="vert-nav">
    <li class="vert-nav-item nav_l_hdr">
        <h1 class="app_hdr">pyShelf {{Version}}</h1>
    </li>
    <li class="vert-nav-item nav_l_hdr">
        <input class="nav_search" type="text" size="10" value="">
    </li>
    <li class="vert-nav-item nav_l_hdr btn" id="btn_collections">Collections</li>
    <ul class="vert-nav dynnav">
        {% if LeftNavMenu0 %}
            {% for row in LeftNavMenu0 %}
                <a href="{{ row.link }}"><li class="vert-nav-item nav_l_hdr btn">{{ row.title }}</li></a>
            {% endfor %}
        {% endif %}
    </ul>
    <li class="vert-nav-item nav_l_hdr btn" id="btn_pyshelf">pyshelf.com</li>
    <a href="irc://freenode.net/pyshelf" class="web_footer_link"><li class="vert-nav-item nav_l_hdr" id="btn_discord">discord</li></a>
    <li class="vert-nav-item nav_l_hdr btn" id="btn_github">github</li>
    <li class="vert-nav-item nav_l_hdr btn" id="btn_irc">irc</li>
</ul>
