<!-- <footer class="footer is-dark" id="footer-main"> -->
	<!-- <a href="https://python.org"> -->
	<!-- 	<img -->
	<!-- 			src="{{ url_for('static', path='images/python-logo-transparent.svg') }}" -->
	<!-- 			alt="Powered by Python" -->
	<!-- 			width="128" -->
	<!-- 			height="24"> -->
	<!-- </a> -->
	<!-- <a href="https://bulma.io"> -->
	<!-- 	<img -->
	<!-- 			src="https://bulma.io/assets/images/made-with-bulma--dark.png" -->
	<!-- 			alt="Made with Bulma" -->
	<!-- 			width="128" -->
	<!-- 			height="24"> -->
	<!-- </a> -->
<!-- </footer> -->
</body>
</html>
